---
import ProjectCard from "./ProjectCard.astro";

import { getProjects } from "@services/projects.js";

const projects = await getProjects();
---

<section class="py-5 mb-4 w-full">
  <div class="grid md:grid-cols-3 grid-cols-1">
    {
      projects.map((project) => {
        const { image, title, description, stack, github, preview } = project;
        return (
          <div class="col-span-1 m-4">
            <ProjectCard
              title={title}
              image={image}
              description={description}
              stack={stack}
              github={github}
              preview={preview}
            />
          </div>
        );
      })
    }
  </div>
</section>
