---
const { image, title, description, stack, github, preview } = Astro.props;
---

<div
  class="max-w-sm bg-[#363636] border border-gray-200 rounded-lg shadow text-white"
>
  <div class="max-h-56 overflow-hidden">
    <a target="_blank" href=`${github}`>
      <img
        class="rounded-t-lg hover:brightness-125 duration-200"
        src=`${image}`
        alt="Project image preview"
      />
    </a>
  </div>
  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-2xl font-poppinsblack tracking-tight">
        {title}
      </h5>
    </a>
    <p class="mb-3 font-poppins">
      {description}
    </p>
    <p class="mb-3 font-poppins">
      <span class="font-bold mx-3">Tech stack:</span><i>{stack}</i>
    </p>
    <div class="grid md:grid-cols-2 grid-cols-1">
      <div class="col-span-1 mt-3 flex items-center justify-center">
        <a
          target="_blank"
          href=`${preview}`
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-angel-gradient rounded-lg hover:brightness-110"
        >
          Project Preview
          <img
            class="max-h-8 mx-2 hover:contrast-200"
            src=`./svgs/link.svg`
            alt=`Link logo`
          />
        </a>
      </div>
      <div class="col-span-1 mt-3 flex items-center justify-center">
        <a
          target="_blank"
          href=`${github}`
          class="inline-flex mx-4 items-center px-3 py-2 text-sm font-medium text-center text-white bg-angel-gradient rounded-lg hover:brightness-110"
        >
          Github
          <img
            class="max-h-8 mx-2 hover:contrast-200"
            src=`./svgs/github.svg`
            alt=`Github logo`
          />
        </a>
      </div>
    </div>
  </div>
</div>
